.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu {
  justify-self: start;
}

.menu_links {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 0;
}

.main_link_marker {
  list-style: none;
  margin-left: 0;
}

.link_list {
  margin-left: 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.link_list a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link_list a.link_main {
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text_cover {
  display: block;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.letter_spacing {
  letter-spacing: 60px;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px;
}

.cover_text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.button {
  border: 1px solid #fff;
  padding: 12px 32px;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.lots {
  padding: 179px 24px 146px;
}

.title_lots {
  margin: 0 0 27px 40px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.container_lots {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.card_lots {
  width: 334px;
  min-height: 563px;
}

.card_lots a {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_about_cinema {
  background-image: url("../images/card-lot-01.jpg");
}

.card_about_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_about_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card_title {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.text_on_card {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.view_more {
  display: block;
  width: fit-content;
  margin: 30px 0 0 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  padding: 0 24px;
}

.about_container {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about_logo {
  margin-top: 35px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about_logo_image {
  width: 148px;
  height: 114px;
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_about {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text_up,
.text_down {
  margin: 0;
  padding: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: flex-start;
  padding: 180px 50px 88px;
}

.footer_menu_links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.footer_links a {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer_links a.footer_main {
  text-decoration: none;
}

.footer_images {
  justify-self: end;
  display: flex;
  gap: 48px;
}

.images_footer {
  display: block;
  width: 48px;
  height: 48px;
}