.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  padding: 0 50px;
  background-color: rgb(255 255 255);
}

.header-menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-links-list {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  list-style: circle;
}

.header-links-list-item {
  margin-left: 14px;
}

.header-links-list-item-no-bullit {
  list-style: none;
}

.header-link {
  color: rgb(0 0 0);
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-decoration: underline;
}

.header-link-active {
  text-decoration: none;
}

.header-logo {
  width: 129px;
}

.header-logo-image {
  display: block;
}

.address {
  max-width: 240px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.header-address {
  justify-self: end;
}

.underline-thin {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.main {
  position: relative;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0 0 0 / 0.6);
}

.cover-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 385px;
  margin-top: 165px;
  padding: 0 50px;
  color: rgb(255 255 255);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  justify-content: flex-start;
}

.aligned-text-center {
  justify-content: center;
}

.aligned-text-right {
  justify-content: flex-end;
}

.letter-spacing-extended {
  display: flex;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  padding: 0 50px;
}

.cover-description-text {
  color: rgb(255 255 255);
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  max-width: 256px;
  height: 51px;
  border: 1px solid rgb(255 255 255);
  padding: 12px 32px 11px 31px;
  color: rgb(255 255 255);
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  white-space: nowrap;
}

.lots {
  max-width: 1052px;
  min-height: 723px;
  margin: 180px 24px 118px;
  background-color: rgb(255 255 255);
}

.lots-heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: rgb(0 0 0);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots-card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 48px 40px;
}

.card-type-film,
.card-type-book,
.card-type-picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title,
.card-text {
  position: relative;
  z-index: 2;
  margin: 0;
  color: rgb(255 255 255);
  font-family: 'Raleway', sans-serif;
}

.card-title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card-text {
  font-weight: normal;
  font-size: 20px;
}

.lots-look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  color: rgb(0 0 0);
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.about {
  max-width: 1052px;
  height: 595px;
  margin: 0 24px;
  background-color: rgb(255 255 255);
}

.about-column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  height: 100%;
}

.about-logo {
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 34px auto 0;
  border-radius: 50%;
  background-color: rgb(0 0 0);
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.about-title {
  margin-bottom: 76px;
  color: rgb(0 0 0);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about-text {
  margin-top: 24px;
  color: rgb(0 0 0);
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 25px;
  width: 100%;
  height: 180px;
  margin-top: 180px;
  padding: 0 50px;
  background-color: rgb(255 255 255);
}

.footer-address {
  justify-self: start;
}

.footer-menu {
  display: flex;
  justify-content: center;
}

.footer-menu-list {
  text-align: center;
  list-style: none;
}

.footer-menu-list-item {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.footer-menu-link {
  color: rgb(0 0 0);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer-social-icon {
  width: 48px;
  height: 48px;
}