.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu {
  justify-self: start;
}

.menu_links {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 0;
}

.main_link_marker {
  list-style: none;
}

.link_list {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.link_list a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link_list a.link_main {
  text-decoration: none;
}

.header > a {
  justify-self: center;
  display: block;
  width: 148px;
  height: 105px;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header > address {
  justify-self: end;
}

.address {
  max-width: 240px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
}

.text_cover {
  display: block;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.letter_spacing {
  letter-spacing: 60px;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px;
}

.cover_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 32px;
  line-height: 51px;
  text-align: center;
}

.lots {
  padding: 179px 24px 146px;
}

.title_lots {
  margin: 0 0 27px 40px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.container_lots {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.card_lots {
  width: 334px;
  min-height: 563px;
}

.card_lots a {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card .overlay {
  z-index: 0;
}

.card_title,
.text_on_card {
  position: relative;
  z-index: 1;
}

.card_about_cinema {
  background-image: url(../images/card-lot-01.jpg);
}

.card_about_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_about_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.text_on_card {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.view_more {
  display: inline-block;
  margin: 30px 0 0 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  padding: 0 24px;
}

.about_container {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about_logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  margin-top: 35px;
}

.about_logo_image {
  width: 148px;
  height: 114px;
}

.about_content {
  padding-top: 100px;
}

.title_about {
  margin: 0;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about_text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text_up,
.text_down {
  margin: 0;
  padding: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: flex-start;
  padding: 180px 50px 88px;
}

.footer_menu {
  justify-self: center;
}

.footer_menu_links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.footer_links {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  color: #000;
}

.footer_links a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer_main {
  text-decoration: none;
}

.footer_images {
  justify-self: end;
  display: flex;
  gap: 48px;
}

.images_footer {
  display: block;
  width: 48px;
  height: 48px;
}